@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff3da;
  color: #151414;
  
}


.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #fff;
}

.coin-search {
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  
}

.coin-text {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 17px;
  text-align: center;
}

.coin-input {
  display: flex;
  justify-content: center;
  padding-left: 45px;
  width: 300px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #db1af5 0%,
    #e6f337 48%,
    #f10000 100%
  );

  color: #0a0101;
}

.coin-input::placeholder {
  font-size: 17px;
  color: #575555;
  display: flex;
  align-items: center;
  align-content: center;
}