.coin-container {
    display: flex;
    
  }
  
  .coin-row {
    display: flex;
   
    justify-content: start;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #d7d7d7;
    width: 300px;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 5px;
  
    min-width: 130px;
  }
  .coin-rank {
      font-size: 18px;
      display: flex;
      padding-right: 3px;

  }
  
  .coin h1 {
    font-size: 15px;
  
  }
  
  .coin img {
    height: 26px;
    width: 26px;
    margin-right: 10px;
  }
  
  
  .coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;

  }
  

  
  .coin-volume {
    width: 355px;
  }
  

  .coin-percent {
    width: 100px;
  }
  
  .red {
    color: #f00606;
    font-weight: 550;
  }
  
  .green {
    color: #248024;
    font-weight: 550;
  }