.coin-container {
    display: flex;
    
  }
  
  .coin-row {
    display: flex;
   
    justify-content: start;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #d7d7d7;
    width: 360px;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 10px;
  
    min-width: 145px;
  }
  .coin-rank {
      font-size: 13px;
      display: flex;
      padding-right: 6px;
      padding-left: 8px;

  }
  
  .coin h1 {
    font-size: 17px;
  
  }
  
  .coin img {
    height: 23px;
    width: 23px;
    margin-right: 7px;
  }
  
  
  .coin-data {
    font-size: 17px;
    display: flex;
    padding-left: 20px;

  }
  .coin-phantram {
    font-size: 17px;
    padding-right: 15px;

  }
  
  
  .coin-percent {
    width: 120px;
    display: flex;
    align-items: center;
  }
  
  .red {
    color: #f00606;
    font-weight: 300;
  }
  
  .green {
    color: #248024;
    font-weight: 300;
  }