.coin-container {
    display: flex;
    
  }
  
  .coin-row {
    display: flex;
   
    justify-content: start;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #d7d7d7;
    width: 330px;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 5px;
  
    min-width: 120px;
  }
  .coin-rank {
      font-size: 13px;
      display: flex;
      padding-right: 6px;
      padding-left: 8px;

  }
  
  .coin h1 {
    font-size: 14px;
  
  }
  
  .coin img {
    height: 23px;
    width: 23px;
    margin-right: 7px;
  }
  
  
  .coin-data {
    font-size: 15px;
    display: flex;
    padding-left: 30px;

  }
  .coin-phantram {
    font-size: 15px;
    padding-right: 300px;

  }
  
  
  .coin-percent {
    width: 110px;
    display: flex;
    align-items: center;
  }
  
  .red {
    color: #f00606;
    font-weight: 550;
  }
  
  .green {
    color: #248024;
    font-weight: 550;
  }